
html {
  /* Location of the image */
  background-image: url(img/background.png);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;


}

.container {
    position: relative;
    height: 90vh;

}

.tech {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    max-width: 19%;
    max-height: 16%;
    z-index: 1;
}




img {
    width: 100%;
    height: auto;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border-top: 25px solid #003399;
  outline: 3px solid black;
  background: #CCCCCC;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.message {
  font-size:1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}
.btn {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: #CCCCCC;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

/* For mobile devices */
/* @media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    /* background-image: url(images/background-photo-mobile-devices.jpg);
  }
	} todo see if i need this */
